@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Jost', sans-serif;
    
   
}
.chakra-ui-light{
    background-color: #f4d1d8 ;
}
#menu-list-\:r1\:{
    
    border: none;
   
}

input {
    all: unset;
    border: none;   

}